# =====================================================
# BACKEND CONFIGURATION (.env in root directory)
# =====================================================

# Supabase API Settings (for Cloud Storage upload)
SUPABASE_URL=https://ukljdnjblcvqbpkersiz.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVrbGpkbmpibGN2cWJwa2Vyc2l6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODY4ODgyMzksImV4cCI6MjEwMjQ2NDIzOX0.GYga3DbXY0JMUWBdogy7SZk48Ok6rY7upaMNpw_KJiM

# Supabase PostgreSQL Database URL
SUPABASE_DB_URL=postgresql://postgres:nakul%40291224@db.ukljdnjblcvqbpkersiz.supabase.co:5432/postgres

# Flask Secret Key
SECRET_KEY=smart-city-secret-key-1234
