# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
questions.md
Report.md


# Gradio
.gradio/

# Dataset & runtime files
data/
runs/

# Generated reports (images)
static/reports/

# OS / Editor
.vscode/
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Database files
*.db

# Logs
logs/

# Secrets
.env

# Next.js frontend
client/.next/
client/node_modules/
client/.env.local
